<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2 class="jumbotron">Teacher Timetable</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>School</th>
        <th>Subject</th>
        <th>Hours</th>
        <th>Date of Work</th>
        <th>Update Entry</th>
    </tr>
    <!--iterate through objects in teacher model-->
    {% for eachTeacher in teachers %}
    <tr>
        <td><a href="{% url 'listTeacher' eachTeacher.id %}">{{ eachTeacher.name}}</a></td>
        <td><a href="{% url 'listSchool' eachTeacher.id %}">{{ eachTeacher.school}}</a></td>
        <td>{{ eachTeacher.subject}}</td>
        <td>{{ eachTeacher.hours}}</td>
        <td>{{ eachTeacher.workDate}}</td>
        <td><a href="{% url 'edit' eachTeacher.id %}"><button>Edit</button></a>
        <a href="{% url 'delete' eachTeacher.id%}"><button>Delete</button></a></td>
    </tr>

    {% endfor %}

</table>
<a href="{% url 'add' %}">
    <button>Add a Teacher</button>
</a>
</body>
</html>

<!--I really should have used template inheritance-->